# Dataset — too large for Git
data/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Spark
spark-warehouse/
derby.log
metastore_db/

# Docker
.docker/

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
